%header.main-header
  .d-flex.align-items-center.logo-box.justify-content-start
    / Logo
    %a.logo{href: "index.html"}
      / logo
      .logo-mini.w-30
        %span.light-logo
          %img{alt: "logo", src: "/admin/images/logo-letter.png"}/
        %span.dark-logo
          %img{alt: "logo", src: "/admin/images/logo-letter.png"}/
      .logo-lg
        %span.light-logo
          %img{alt: "logo", src: "/admin/images/logo-dark-text.png"}/
        %span.dark-logo
          %img{alt: "logo", src: "/admin/images/logo-light-text.png"}/
  / Header Navbar
  %nav.navbar.navbar-static-top
    / Sidebar toggle button
    .app-menu
      %ul.header-megamenu.nav
        %li.btn-group.nav-item
          %a.waves-effect.waves-light.nav-link.push-btn.btn-primary-light{"data-toggle" => "push-menu", href: "#", role: "button"}
            %i{"data-feather" => "align-left"}
        %li.btn-group.nav-item.d-none.d-xl-inline-block
          %a.waves-effect.waves-light.nav-link.svg-bt-icon.btn-primary-light{href: "contact_app_chat.html", title: "Chat"}
            %i{"data-feather" => "message-circle"}
        %li.btn-group.nav-item.d-none.d-xl-inline-block
          %a.waves-effect.waves-light.nav-link.svg-bt-icon.btn-primary-light{href: "mailbox.html", title: "Mailbox"}
            %i{"data-feather" => "at-sign"}
        %li.btn-group.nav-item.d-none.d-xl-inline-block
          %a.waves-effect.waves-light.nav-link.svg-bt-icon.btn-primary-light{href: "extra_taskboard.html", title: "Taskboard"}
            %i{"data-feather" => "clipboard"}
    .navbar-custom-menu.r-side
      %ul.nav.navbar-nav
        %li.btn-group.d-lg-inline-flex.d-none
          .app-menu
            .search-bx.mx-5
              %form
                .input-group
                  %input.form-control{"aria-describedby" => "button-addon2", "aria-label" => "Search", placeholder: "Search", type: "search"}/
                  .input-group-append
                    %button#button-addon3.btn{type: "submit"}
                      %i{"data-feather" => "search"}
        %li.btn-group.nav-item.d-lg-inline-flex.d-none
          %a.waves-effect.waves-light.nav-link.full-screen.btn-primary-light{"data-provide" => "fullscreen", href: "#", title: "Full Screen"}
            %i{"data-feather" => "maximize"}
        / Notifications
        %li.dropdown.notifications-menu
          %a.waves-effect.waves-light.dropdown-toggle.btn-primary-light{"data-bs-toggle" => "dropdown", href: "#", title: "Notifications"}
            %i{"data-feather" => "bell"}
          %ul.dropdown-menu.animated.bounceIn
            %li.header
              .p-20
                .flexbox
                  %div
                    %h4.mb-0.mt-0 Notifications
                  %div
                    %a.text-danger{href: "#"} Clear All
            %li
              / inner menu: contains the actual data
              %ul.menu.sm-scrol
                %li
                  %a{href: "#"}
                    %i.fa.fa-users.text-info
                    Curabitur id eros quis nunc suscipit blandit.
                %li
                  %a{href: "#"}
                    %i.fa.fa-warning.text-warning
                    Duis malesuada justo eu sapien elementum, in semper diam posuere.
                %li
                  %a{href: "#"}
                    %i.fa.fa-users.text-danger
                    Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                %li
                  %a{href: "#"}
                    %i.fa.fa-shopping-cart.text-success
                    In gravida mauris et nisi
                %li
                  %a{href: "#"}
                    %i.fa.fa-user.text-danger
                    Praesent eu lacus in libero dictum fermentum.
                %li
                  %a{href: "#"}
                    %i.fa.fa-user.text-primary
                    Nunc fringilla lorem
                %li
                  %a{href: "#"}
                    %i.fa.fa-user.text-success
                    Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
            %li.footer
              %a{href: "#"} View all
        / User Account
        %li.dropdown.user.user-menu
          %a.waves-effect.waves-light.dropdown-toggle.btn-primary-light{"data-bs-toggle" => "dropdown", href: "#", title: "User"}
            %i{"data-feather" => "user"}
          %ul.dropdown-menu.animated.flipInX
            %li.user-body
              %a.dropdown-item{href: "#"}
                %i.ti-user.text-muted.me-2
                Profile
              %a.dropdown-item{href: "#"}
                %i.ti-wallet.text-muted.me-2
                My Wallet
              %a.dropdown-item{href: "#"}
                %i.ti-settings.text-muted.me-2
                Settings
              .dropdown-divider
              = link_to destroy_admin_session_path, class: 'dropdown-item', method: :delete, data: { turbo_method: :delete } do
                %i.ti-lock.text-muted.me-2
                Logout Admin
        / Control Sidebar Toggle Button
        %li
          %a.waves-effect.waves-light.btn-primary-light{"data-toggle" => "control-sidebar", href: "#", title: "Setting"}
            %i{"data-feather" => "settings"}
