%div{:align => "center"}
  - flash.each do |key, value|
    %div{:class => "alert alert-#{key}"}
      .col-3
        %button.close{"data-dismiss" => "alert", :type => "button"} x
        %h5{:style => "text-align:center"}= value
