%aside.main-sidebar
  / sidebar
  %section.sidebar.position-relative
    .multinav
      .multinav-scroll{style: "height: 100%;"}
        / sidebar menu
        %ul.sidebar-menu{"data-widget" => "tree"}
          %li.treeview
            %a{href: "#"}
              %i{"data-feather" => "monitor"}
              %span Dashboard
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 1 to 5
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 1
                  %li
                    %a{href: "index2.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 2
                  %li
                    %a{href: "index3.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 3
                  %li
                    %a{href: "index4.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 4
                  %li
                    %a{href: "index5.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 5
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 6 to 10
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index6.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 6
                  %li
                    %a{href: "index7.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 7
                  %li
                    %a{href: "index8.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 8
                  %li
                    %a{href: "index9.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 9
                  %li
                    %a{href: "index10.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 10
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 11 to 15
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index11.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 11
                  %li
                    %a{href: "index12.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 12
                  %li
                    %a{href: "index13.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 13
                  %li
                    %a{href: "index14.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 14
                  %li
                    %a{href: "index15.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 15
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 16 to 20
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index16.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 16
                  %li
                    %a{href: "index17.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 17
                  %li
                    %a{href: "index18.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 18
                  %li
                    %a{href: "index19.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 19
                  %li
                    %a{href: "index20.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 20
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 21 to 25
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index21.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 21
                  %li
                    %a{href: "index22.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 22
                  %li
                    %a{href: "index23.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 23
                  %li
                    %a{href: "index24.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 24
                  %li
                    %a{href: "index25.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 25
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 26 to 30
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index26.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 26
                  %li
                    %a{href: "index27.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 27
                  %li
                    %a{href: "index28.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 28
                  %li
                    %a{href: "index29.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 29
                  %li
                    %a{href: "index30.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 30
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 26 to 30
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index26.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 26
                  %li
                    %a{href: "index27.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 27
                  %li
                    %a{href: "index28.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 28
                  %li
                    %a{href: "index29.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 29
                  %li
                    %a{href: "index30.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 30
              %li.treeview
                %a{href: "#"}
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Options 31 to 35
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{href: "index31.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 31
                  %li
                    %a{href: "index32.html"}
                      %i.icon-Commit>
                        %span.path1
                        %span.path2
                      Dash 32
          %li.treeview
            %a{href: "#"}
              %i{"data-feather" => "users"}
              %span Members
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                = link_to admin_users_path do
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Members List
          %li.treeview
            %a{href: "#"}
              %i{"data-feather" => "users"}
              %span Posts
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                = link_to admin_posts_path do
                  %i.icon-Commit>
                    %span.path1
                    %span.path2
                  Posts List
        .sidebar-widgets
          .mx-25.mb-30.p-30.text-center.bg-primary-light.rounded5
            %img{alt: "", src: "/admin/images/trophy.png"}/
            %h4.my-3.fw-500.text-uppercase.text-primary Start Trading
            %span.fs-12.d-block.mb-3.text-black-50 Offering discounts for better online a store can loyalty weapon into driving
            %button.waves-effect.waves-light.btn.btn-sm.btn-primary.mb-5{type: "button"} Invest Now
          .copyright.text-center.m-25
            %p
              %strong.d-block Talents Admin Dashboard
              © 2022 All Rights Reserved
