%aside.main-sidebar
  / sidebar
  %section.sidebar
    / sidebar menu
    %ul.sidebar-menu{"data-widget" => "tree"}
      %li
        %a{:href => "#"}
          %i.mdi.mdi-home-outline
          %span Home (current)
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-4-blocks
            %span.path1
            %span.path2
          %span Dashboard
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "/home/index_1"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Dashboard 1
          %li
            %a{:href => "/home/dashboard2"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Dashboard 2
          %li
            %a{:href => "/home/dashboard3"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Dashboard 3
          %li
            %a{:href => "/home/dashboard4"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Dashboard 4
          %li
            %a{:href => "/home/dashboard5"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Dashboard 5
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-grid{:span => ""}
            %span.path1
            %span.path2
          %span Application
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          /
            <li><a href="/admin/admins"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Admins Management</a></li>
            
            <li><a href="/admin/admin_roles"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Admin Roles</a></li>
          %li
            %a{:href => "/admin/users"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Users
          %li
            %a{:href => "/admin/tournaments"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Tournaments
          %li
            %a{:href => "/admin/rank_rules"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Rank Rules
          %li
            %a{:href => "/admin/event_types"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Manage Games
          %li
            %a{:href => "/admin/providers"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Manage Provider
          %li
            %a{:href => "/admin/homepage"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Homepage Banners
          %li
            %a{:href => "/admin/avatars"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Avatars
          %li
            %a{:href => "/admin/app_ratings"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              App Ratings
          %li
            %a{:href => "/admin/user_kycs"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              User Kycs
          %li
            %a{:href => "/admin/accounts"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Accounts
          %li
            %a{:href => "/admin/admin_settings"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Admin Settings
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-4-blocks
            %span.path1
            %span.path2
          %span Withdrawals
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "/admin/transactions/withdrawal_transactions"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Cash Transactions
          %li
            %a{:href => "/admin/transactions/tds_transactions"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Tds Transactions
          %li
            %a{:href => "/admin/transactions/withdrawals"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              All Withdrawals
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-4-blocks
            %span.path1
            %span.path2
          %span Transactions
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "/admin/transactions"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Cash Transactions
          %li
            %a{:href => "/admin/gc_coin_transactions"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Coins Transactions
          %li
            %a{:href => "/admin/gc_bonus_transactions"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Bonus Transactions
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-4-blocks
            %span.path1
            %span.path2
          %span Contests
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "/admin/admin_contests"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Admin Contests
          %li
            %a{:href => "/admin/user_contests"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              User Contests
          %li
            %a{:href => "/admin/contests"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              All Contests
      %li.treeview
        %a{:href => "#"}
          %i.icon-Layout-4-blocks
            %span.path1
            %span.path2
          %span Featured Events
          %span.pull-right-container
            %i.fa.fa-angle-right.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "/admin/featured_events"}
              %i.icon-Commit>
                %span.path1
                %span.path2
              Featured Events
  .sidebar-footer
    / item
    %a.link{"aria-describedby" => "tooltip92529", "data-original-title" => "Settings", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
      %span.icon-Settings-2
    / item
    %a.link{"data-original-title" => "Email", "data-toggle" => "tooltip", :href => "#", :title => ""}
      %span.icon-Mail
    / item
    %a.link{"data-original-title" => "Logout", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
      %span.icon-Lock-overturning
        %span.path1
        %span.path2
