%footer.bg-color-2.p-3
  .d-flex.flex-wrap.justify-content-center.align-items-center
    %a.footer-img-link.text-white{href: "#footer-7"}
      %img.footer-img{ src: "/user/img/default/footer-logo.png" }
